<h1 align="center"> FASHION SEARCH AI - PREPOCESSING</h1>

In [1]:
#Import necessary librabries
import pandas as pd
from bs4 import BeautifulSoup
import re

In [2]:
# Import the dataset
df = pd.read_csv('Fashion Dataset v2.csv')

In [3]:
# Check the data
df.head()

,p_id,name,products,price,colour,brand,img,ratingCount,avg_rating,description,p_attributes
0,17048614,Khushal K Women Black Ethnic Motifs Printed Ku...,"Kurta, Palazzos, Dupatta",5099.0,Black,Khushal K,http://assets.myntassets.com/assets/images/170...,4522.0,4.418399,Black printed Kurta with Palazzos with dupatta...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,32..."
1,16524740,InWeave Women Orange Solid Kurta with Palazzos...,"Kurta, Palazzos, Floral Print Dupatta",5899.0,Orange,InWeave,http://assets.myntassets.com/assets/images/165...,1081.0,4.119334,Orange solid Kurta with Palazzos with dupatta<...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,32..."
2,16331376,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,"Kurta, Trousers, Dupatta",4899.0,Navy Blue,Anubhutee,http://assets.myntassets.com/assets/images/163...,1752.0,4.161530,Navy blue embroidered Kurta with Trousers with...,"{'Add-Ons': 'NA', 'Body Shape ID': '333,424', ..."
3,14709966,Nayo Women Red Floral Printed Kurta With Trous...,"Kurta, Trouser, Dupatta",3699.0,Red,Nayo,http://assets.myntassets.com/assets/images/147...,4113.0,4.088986,Red printed kurta with trouser and dupatta<br>...,"{'Add-Ons': 'NA', 'Body Shape ID': '333,424', ..."
4,11056154,AHIKA Women Black & Green Printed Straight Kurta,Kurta,1350.0,Black,AHIKA,http://assets.myntassets.com/assets/images/110...,21274.0,3.978377,"Black and green printed straight kurta, has a ...","{'Body Shape ID': '424', 'Body or Garment Size..."

In [4]:
# Checking for Null and datatypes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14214 entries, 0 to 14213
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   p_id          14214 non-null  int64
 1   name          14214 non-null  object
 2   products      14214 non-null  object
 3   price         14214 non-null  float64
 4   colour        14214 non-null  object
 5   brand         14214 non-null  object
 6   img           14214 non-null  object
 7   ratingCount   6530 non-null   float64
 8   avg_rating    6530 non-null   float64
 9   description   14214 non-null  object
 10  p_attributes  14214 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 1.2+ MB
None

In [5]:
# Remove the "img" column as product links are not required
df = df.drop(columns=['img'])

In [6]:
# Check the data
df.head()

,p_id,name,products,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,17048614,Khushal K Women Black Ethnic Motifs Printed Ku...,"Kurta, Palazzos, Dupatta",5099.0,Black,Khushal K,4522.0,4.418399,Black printed Kurta with Palazzos with dupatta...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,32..."
1,16524740,InWeave Women Orange Solid Kurta with Palazzos...,"Kurta, Palazzos, Floral Print Dupatta",5899.0,Orange,InWeave,1081.0,4.119334,Orange solid Kurta with Palazzos with dupatta<...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,32..."
2,16331376,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,"Kurta, Trousers, Dupatta",4899.0,Navy Blue,Anubhutee,1752.0,4.161530,Navy blue embroidered Kurta with Trousers with...,"{'Add-Ons': 'NA', 'Body Shape ID': '333,424', ..."
3,14709966,Nayo Women Red Floral Printed Kurta With Trous...,"Kurta, Trouser, Dupatta",3699.0,Red,Nayo,4113.0,4.088986,Red printed kurta with trouser and dupatta<br>...,"{'Add-Ons': 'NA', 'Body Shape ID': '333,424', ..."
4,11056154,AHIKA Women Black & Green Printed Straight Kurta,Kurta,1350.0,Black,AHIKA,21274.0,3.978377,"Black and green printed straight kurta, has a ...","{'Body Shape ID': '424', 'Body or Garment Size..."

In [7]:
# Fill all the Null in "ratingCount" and "avg_rating" with 0
df['ratingCount'] = df['ratingCount'].fillna(0)
df['avg_rating'] = df['avg_rating'].fillna(0)

In [8]:
# Check the after filling Null
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14214 entries, 0 to 14213
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   p_id          14214 non-null  int64
 1   name          14214 non-null  object
 2   products      14214 non-null  object
 3   price         14214 non-null  float64
 4   colour        14214 non-null  object
 5   brand         14214 non-null  object
 6   ratingCount   14214 non-null  float64
 7   avg_rating    14214 non-null  float64
 8   description   14214 non-null  object
 9   p_attributes  14214 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.1+ MB
None

### Removing the HTML tags and cleaning the descriptions

In [9]:
# Check the description column data
print(df['description'].head(10))

0    Black printed Kurta with Palazzos with dupatta...
1    Orange solid Kurta with Palazzos with dupatta<...
2    Navy blue embroidered Kurta with Trousers with...
3    Red printed kurta with trouser and dupatta<br>...
4    Black and green printed straight kurta, has a ...
5    <ul> <li> Colour: red </li> <li> Solid woven d...
6    Stately and versatile, this kurta set will be ...
7    When in doubt, rock this simple yet stylish ku...
8    Yellow and white printed kurta with palazzos<b...
9    Green &amp; pink printed kurta with palazzos &...
Name: description, dtype: object

In [10]:
def clean_desc(description):
    # Remove HTML tags using BeautifulSoup
    soup = BeautifulSoup(description, "html.parser")
    text = soup.get_text(separator=" ")
    
    # Remove extra spaces and newlines
    text = re.sub(r'\s+', ' ', text).strip()
    
    # Remove non-alphanumeric characters (except spaces and punctuations)
    text = re.sub(r'[^a-zA-Z0-9\s,.]', '', text)
    
    # Fix common formatting issues (e.g., multiple spaces, extra punctuation)
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text.lower()

In [11]:
# Apply the cleaning function to the 'description' column
df['description'] = df['description'].apply(clean_desc)

# Check the cleaned data
print(df['description'].head(10))

0    black printed kurta with palazzos with dupatta...
1    orange solid kurta with palazzos with dupatta ...
2    navy blue embroidered kurta with trousers with...
3    red printed kurta with trouser and dupatta kur...
4    black and green printed straight kurta, has a ...
5    colour red solid woven design mandarin collar ...
6    stately and versatile, this kurta set will be ...
7    when in doubt, rock this simple yet stylish ku...
8    yellow and white printed kurta with palazzos y...
9    green pink printed kurta with palazzos dupatta...
Name: description, dtype: object

In [13]:
# Store the new dataset in CSV format
df.to_csv("Fashion_Dataset.csv", index=False)

 <h4 align="right">By Shivani Raut, Sindhu M and Vidhya Manikandan</h4>